[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = git@github.com:vovkasm/vim-perl.git
