[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
url=https://github.com/vovkasm/vim-perl.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/vovkasm/nerdtree.git
[submodule "vim/bundle/perlomni"]
	path = vim/bundle/perlomni
	url = https://github.com/c9s/perlomni.vim.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
url=https://github.com/vovkasm/vim-pathogen.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
